// British Color Palette

$protoss-pylon: #00a8ff;
$vandyl-blue: #0097e6;

$periwinkle: #9c88ff;
$matt-purple: #8c7ae6;

$rise-n-shine: #fbc531;
$nanohanacha-gold: #e1b12c;

$download-progress: #4cd137;
$skirret-green: #44bd32;

$seabrook: #487eb0;
$naval: #40739e;

$nasturcian-flower: #e84118;
$harley-davidson-orange: #c23616;

$lynx-white: #f5f6fa;
$hint-of-pensive: #dcdde1;

$blueberry-soda: #7f8fa6;
$chain-gang-grey: #718093;

$mazarine-blue: #273c75;
$pico-void: #0097e6;

$blue-nights: #353b48;
$electromagnetic: #2f3640;

$color-black: $electromagnetic;
$color-white: $lynx-white;

$color-red: $nasturcian-flower;
$color-green: $skirret-green;
$color-blue: $protoss-pylon;
$color-yellow: $rise-n-shine;

$font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
