// Square Component Styles

.square {
  color: red !important;
  background-color: red !important;
  height: 5rem;
  border: solid 1px red;
}

.wrapper {
  height: 100px;
  width: 100px;
  background-color: magenta;
}
