@import "styles/variables";

:root {
  font-family: $font-primary;
  line-height: 1.5;
  font-weight: bold;
  font-size: $font-size-base;
  color: $blueberry-soda;
  color-scheme: light dark;
  background-color: $mazarine-blue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: auto;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: $blueberry-soda;
  text-decoration: inherit;
  &:hover {
    color: $matt-purple;
  }
}

.board-row {

  display:flex;
  flex-direction: row;
  justify-content: center;

  gap: 1rem;
  gap: 1rem 1.2rem; /* row-gap column gap */
  row-gap: 1rem;
  column-gap: 1.2rem;


  margin: 4rem;

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $electromagnetic;
    cursor: pointer;
    transition: border-color 0.25s;
    min-height: 2rem;
    color: $nanohanacha-gold;

    &:hover {
      border-color: $matt-purple;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

.status {

  color: $nanohanacha-gold;
  font-family: $font-primary;
  font-size:3rem;
  font-weight: bold;
  margin-bottom: 2rem;

}

@media (prefers-color-scheme: light) {

  :root {
    color: $mazarine-blue;
    background-color: $color-white;
  }

  a {
    &:hover {
      color: $matt-purple;
    }
  }

  button {
    background-color: $color-white;
  }
}
